/***FONTS*****/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,300|Indie+Flower|PT+Serif:400,400italic,700,700italic|Playfair+Display:400,400italic,700,700italic&subset=latin,greek);/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'PT Serif', serif;
font-family: 'Playfair Display', serif;
*/
/******************************************************************/

/*General Formatting*/
html, body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    box-sizing:border-box;
    background-color: black;
}

#wrapper {
    height: 100%;
    width: 100%;
}

/* Inserting Background Image */
#bgimage {
    height: 1000px;
    width: 100%;
    background-image: url("../images/bg1.jpeg");
    text-align: center;
}

.opac {
    -webkit-filter: opacity(1);
    filter: opacity(1);*/
}

#top-header {
    color: black;
    background-color: none;
    height: 240px;
    align-content: center;
}

#logo {
    position: relative;
    height: 240px;
}

#logo img {
    max-width:100%;
    position: absolute;
    top: 3%;
    left: 50%;
    display: inline-block;
}

.opac {
    background-color: aliceblue;
    -webkit-filter: opacity(.0);
    filter: opacity(.7);
}

#top-header {
    color: black;
    background-color: white;
    height: 240px;
    align-content: center;
}

#logo {
    position: relative;
    height: 240px;
}

#logo img {
    max-width:100%;
    position: absolute;
    top: 3%;
    left: 50%;
    display: inline-block;
}

#navigation {
    height: 240px;

}
#navigation .nav {
    margin-top: 20%;
    margin-left: 35%;
    width: 50%;
}

#navigation .nav li {
    display: inline-block;
    margin: 10px;
}

#navigation .nav li a {
    font-size: 1.35em;
}

#navigation .nav li a:hover {
    font-size: 1.35em;
    border-style: solid;
    border-color: dimgray;
    border-width: thin;
}

#navigation .nav li a.selected {
    font-size: 1.35em;
    border-style: solid;
    border-color: dimgray;
    border-width: thin;
}

/*<!---- Main body section ---->*/

#main-body {
    height: 75%;
}

#top-row {
    margin-top: 10px;
    height: 60%;
    width: 100%;
    display: inline-block;
}

#bottom-row {
    height: 40%;
    width: 100%;
    display: inline-block;
}

#bottom-row h1, #bottom-row h2, #bottom-row h3 {
    color: coral;
}

#left, #right {
    -webkit-filter: opacity(.5);
    filter: opacity(.1);
    background-color: white;
    height: 100%;
}

#mid1, #mid2, #mid3, #mid4, #mid5  {
    -webkit-filter: opacity(1);
    filter: opacity(1);
    background-color: white;
    height: 100%;
}

#mid2 {
    text-align: center;

}

#mid2 img {
    margin-top: 14px;
    height: 420px;
}

#mid4 {
    padding-left: 20px;
    padding-right: 20px;
}


h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
    margin-top: 40px;
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
}

#date {

}


/*-------------------------------------------------------------------------------*/

/*---------- ABOUT PAGE -------------*/

/****** Header *******/
#about {
    height: 1000px;
    width: 100%;
    background-color: white;
}

#about-header {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    display: inline-block;
    background-color: #59ABE3;
    color: white;
    font-weight: bold;
}

#logo-sm img {
    height: 170px;

}
#about-header .r-nav { /*right navigation*/
    height: 100%;
}

/****** Row 1 *******/
/*<!--- nav bar to the left--->*/
#about-row1 {
    height: 800px;
    margin-top: 50px;
}
#about-row1 h1 {
    color: coral;
}

#about-row1 .r-nav { /*right navigation*/
    height: 800px;
    width: 400px;
    background-color: antiquewhite;
    margin-left: 20px;
    padding-right: 110px;
}


#right-nav {
    width: 100%
}

#right-nav .nav li{
    list-style: none;
    width: 100%;
}

#right-nav .nav li a {

    display: block;
    border-bottom: 1px solid #141414 ; /*Underlines box*/
   -webkit-transition: 0.2s;
    trasition: 0.2s
}

#right-nav .nav li a:hover {
    font-size: 1.35em;
    border-style: solid;
    border-color: dimgray;
    border-width: thin;

}

ul#nav li a.selected {
    background-color: #34495E;
    color: #fff;
}


/*<!--- Content--->*/
.content p {
    font-size: 1.1em;
}

#welcome, #jobs {
    width: 80%;
    margin-left: 10%;


}
